%menu.tab-nav
  %li
    %button{data: {target: "#tab-#{hook}-html"}} HTML
  %li
    %button{data: {target: "#tab-#{hook}-css"}} CSS
  %li
    %button{data: {target: "#tab-#{hook}-animation"}} Animation
